body {
	
	background-color: #ffffff;
    font-family: georgia;
	
}

pre {
	
    font-family: georgia;
	white-space: pre;
    margin: 1em 0;
    
}

label {
	
	width: 10em;
	display: label;
	
}

button {
	
	display: button;
	
}

table {
	
    background-color: #f1f1c1;
    border: 1px solid black;
    border-spacing: 5px;
	height: 120px;
	width: 120px;
	text-align: center;
    
}